.conversions{
    position: relative;
    overflow: hidden;
    width: 100vh;
    .purple{
        transition: 500ms;
        position: absolute;
        inset: 0;
        scale: 1.5;
        background: linear-gradient(0deg, $purple 0%, transparent 70%);
        animation: firstBgPurple 4s ease-in-out 1s infinite alternate;
    }
    .blue{
        transition: 500ms;
        position: absolute;
        width: 120%;
        height: 100%;
        bottom: -30%;
        filter: blur(40px);
        left: -50%;
        background: radial-gradient($blue 0%, transparent 70%);
        animation: firstBgBlue 4s ease-in-out 1s infinite alternate;
    }
    .cover{
        position: absolute;
        inset: 0;
        backdrop-filter: blur(40px);
    }
    .inner{
        position: relative;
        z-index: 1;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: rgba($color: white, $alpha: 0.2);
        .wrap{
            display: flex;
            @media(max-width: 767px){
                flex-direction: column;
            }
            .model{
                position: relative;
                background-color: white;
                width: 50%;
                margin: 20px;
                padding: 40px;
                // overflow: hidden;
                border-radius: 30px 10px 10px 30px;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                // @media(max-width: 1250px){
                //     width: calc(50% + 50px);
                // }
                @media(max-width: 767px){
                    margin: 10px;
                    margin-bottom: 35px;
                    border-radius: 30px 30px 0px 0px;
                    width: auto;
                }
                @media(max-width: 567px){
                    padding: 20px;
                    padding-right: 40%;
                }
                .mockup{
                    position: absolute;
                    inset: 25px -100px 0px auto;
                    height: calc(100% - 50px);
                    z-index: 0;
                    @media(max-width: 991px){
                        inset: 25px 25px 0px auto;
                    }
                }
                .heading{
                    font-family: "Lato";
                    font-size: 80px;
                    color: $purple;
                    margin-right: 170px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 1;
                    .small{
                        font-size: 55px;
                        display: block;
                        color: $purple;
                        -webkit-text-fill-color: $purple;
                        -webkit-text-stroke-width: 0px;
                    }
                    @media(max-width: 1250px){
                        font-size: 70px;
                    }
                    @media(max-width: 991px){
                        font-size: 60px;
                        margin-right: 50px;
                    }
                    @media(max-width: 567px){
                        font-size: 35px;
                        margin-top: 90px;
                    }
                    span{
                        -webkit-text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke-color: $blue;
                        -webkit-text-stroke-width: 2px;
                        @media(max-width: 567px){
                            -webkit-text-stroke-width: 1px;
                        }
                    }
                }
            }
            .content{
                width: 50%;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                padding-left: 106px;
                align-items: flex-start;
                margin-right: 0px;
                // @media(max-width: 1250px){
                //     width: calc(50% - 50px);
                //     padding-left: 50px;
                // }
                @media(max-width: 991px){
                    width: calc(50% - 20px);
                    margin-right: 20px;
                    padding-left: 20px;
                }
                @media(max-width: 767px){
                    width: 100%;
                    padding: 25px;
                    margin-right: 0;
                }
                .content-wrap{
                    margin-right: 44px;
                }
                .sub-heading{
                    color:#FFF;
                    font-family: "Lato";
                    font-size: 52px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    letter-spacing: 1.04px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    @media(max-width: 1250px){
                        font-size: 36px;
                    }
                    @media(max-width: 991px){
                        font-size: 36px;
                        margin-bottom: 15px;
                    }
                    @media(max-width: 567px){
                        font-size: 28px;
                    }
                }
                .stat{
                    padding: 10px;
                    grid-gap: 10px;
                    display: flex;
                    align-items: center;
                    border-radius: 40px;
                    background-color: white; 
                    margin-bottom: 20px;
                    @media(max-width: 991px){
                        margin-bottom: 15px;
                    }
                    .progress{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        .percentage{
                            font-family: "Inter";
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            top: 50%;
                            font-size: 14px;
                            font-weight: 900;
                        }
                        svg{
                            stroke-dasharray:450;
                            stroke-dashoffset:450;
                            &.animate{
                                animation: thirdStat 1.4s ease-in-out forwards;
                            }
                        }
                    }
                    .text{
                        font-family: "Inter";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 1.4px;
                        text-transform: uppercase;
                        padding-right: 20px;
                    }
                }
                .description{
                    color: #FFF;
                    font-family: "Inter";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.2px;
                    margin-bottom: 40px;
                    @media(max-width: 991px){
                        margin-bottom: 30px;
                        font-size: 18px;
                    }
                    @media(max-width: 567px){
                        margin-bottom: 15px;
                        font-size: 16px;
                    }
                }
                .button{
                    padding: 15px 30px;
                    border-radius: 50px;
                    background: #000;
                    color: #FFF;
                    text-align: center;
                    font-family: "Inter";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 137.5%;
                    letter-spacing: 0.32px;
                    text-transform: uppercase;
                    margin-bottom: 60px;
                    transition: 50ms ease-in-out;
                    &:hover{
                        transition: 50ms ease-in-out;
                        background: #0000009a;
                    }
                    @media(max-width: 991px){
                        margin-bottom: 20px;
                    }
                    @media(max-width: 567px){
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}