.fp-section{
    &::-webkit-scrollbar {
        display: none;
    }
}
.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .inner{
        padding: 0 30px;
        border-radius: 40px;
        border: 2px solid rgba(0,0,0,.05);
        backdrop-filter: blur(3px);
        margin-top: 150px;
        position: relative;
        background: white;
        @media(max-width: 767px){
            padding: 0;
            background: white;
            margin-top: 120px;
            margin-bottom: 25px;
        }
        .wrap{
            display: flex;
            @media(max-width: 767px){
                flex-direction: column;
                align-items: center;
                padding: 25px;
            }
            .model{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width: 767px){
                    width: 100%;
                }
                video{
                    width: 100%;
                    object-fit: cover;
                    @media(max-width: 767px){
                        max-width: 350px;
                    }
                }
            }
            .mockups{
                video{
                    width: 100%;
                }
            }
        }
    }
    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 30px;
        .heading{
            font-family: "Lato";
            font-size: 52px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 1.04px;
            text-transform: uppercase;
            text-align: center;
            background: $grad;
            margin: 25px 0;
            -webkit-background-clip: text;
            color: transparent;
            @media(max-width: 1200px){
                font-size: 44px;
            }
            @media(max-width: 991px){
                font-size: 40px;  
            }
            @media(max-width: 767px){
                font-size: 38px;
                margin-bottom: 15px;
            }
        }
        .stat{
            padding: 7px 10px;
            grid-gap: 10px;
            display: flex;
            align-items: center;
            border-radius: 40px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            margin-bottom: 25px;
            @media(max-width: 767px){
                margin-bottom: 15px;
            }
            .progress{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .percentage{
                    font-family: "Inter";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    top: 50%;
                    font-size: 14px;
                    font-weight: 900;
                    margin-left: 1px;
                    margin-top: -1px;
                    letter-spacing: 1.4px;

                }
                svg{
                    stroke-dasharray:450;
                    stroke-dashoffset:450;
                    &.animate{
                        animation: firstStat 1.5s ease-in-out forwards;
                    }
                }
                &:before{
                    content: "";
                    width: 50px;
                    height: 50px;
                    border: 4px solid #ccc;
                    border-radius: 50%;
                    position: absolute;
                    inset: 0;
                }
            }
            .text{
                font-family: "Inter";
                font-size: 14px;
                font-style: normal;
                text-align: left;
                font-weight: 800;
                line-height: normal;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                padding-right: 20px;
                @media(max-width: 991px){
                    padding-right: 0px;
                }
            }
        }
        .sub-heading{
            font-family: "Inter";
            text-align: center;
            font-size: 25px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 0.25px;
            margin-bottom: 25px;
            @media(max-width: 1200px){
                font-size: 22px;
            }
            @media(max-width: 991px){
                font-weight: 500;
                font-size: 20px;
            }
            @media(max-width: 767px){
                margin-bottom: 20px;
            }
        }
        .button{
            padding: 15px 30px;
            color: white;
            font-family: "Inter";
            width: max-content;
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            line-height: 1.375;
            margin-bottom: 60px;
            letter-spacing: 0.62px;
            text-transform: uppercase;
            border-radius: 50px;
            background-image: linear-gradient(186deg, #4841D2 9.97%, #0E74F9 113.54%);
            transition: all 100ms ease-in-out;
            background-size: 100%;
            background-position: center;
            &:hover{
                background-position:right;
                background-size: 300%;
                transition: all 100ms ease-in-out;
            }
            @media(max-width: 767px){
                width: 100%;
                margin-bottom: 0px;
                text-align: center;
            }
        }
    }
}
.iScrollVerticalScrollbar{
    display: none;
}