.sales{
    position: relative;
    z-index: 1;
    .fp-tableCell{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 85px;
        @media(max-width:567px){
            padding-bottom: 40px;
            padding-top: 20px;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .mobile-only{
        display: none;
        padding: 15px 30px;
        position: relative;
        color: white;
        font-family: "Inter";
        width: max-content;
        font-size: 16px;
        width: 100%;
        font-style: normal;
        line-height: 1.375;
        text-align: center;
        letter-spacing: 0.32px;
        text-transform: uppercase;
        border-radius: 50px;
        background-image: linear-gradient(183deg, #4841D2 0%, #0E74F9 100%);
        transition: 100ms ease-in-out;
        background-size: 300%;
        background-position: left;
        &:hover{
            background-position:right;
            transition: 100ms ease-in-out;
        }
        @media(max-width:567px){
            display: block;
        }
    }
    .inner{
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 1;
        backdrop-filter: blur(0);
        justify-content: flex-end;
        border: none;
        @media(max-width:767px){
            justify-content: center;
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 60px;
            border-radius: 40px;
            border: 2px solid rgba($color: black, $alpha: 0.05);
            backdrop-filter: blur(3px);
            max-width: 620px;
            background:rgba(255, 255, 255, 0.60);
            @media(max-width:767px){
                align-items: flex-start;
                padding: 30px;
            }
            @media(max-width:567px){
                padding: 25px;
            }
            .heading{
                color: #000;
                text-align: right;
                font-family: "Lato";
                font-size: 52px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                letter-spacing: 1.04px;
                margin-bottom: 20px;
                text-transform: uppercase;
                @media(max-width:767px){
                    font-size: 44px;
                    text-align: left;
                }
                @media(max-width:567px){
                    font-size: 28px;
                    margin-bottom: 15px;
                }
                span{
                    background: $grad;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .subtitle{
                color: rgba(0, 0, 0, 0.70);
                text-align: right;
                font-family: "Inter";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.2px;
                margin-bottom: 20px;
                @media(max-width:767px){
                    font-size: 18px;
                    text-align: left;
                }
                @media(max-width:567px){
                    font-size: 16px;
                    margin-bottom: 15px;
                }
            }
            .stat{
                max-width: 400px;
                padding: 10px;
                grid-gap: 10px;
                display: flex;
                align-items: center;
                border-radius: 40px;
                background-color: white; 
                margin-bottom: 20px;
                .progress{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    .percentage{
                        font-family: "Inter";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        top: 50%;
                        font-size: 14px;
                        font-weight: 900;
                    }
                    svg{
                        stroke-dasharray:450;
                        stroke-dashoffset:450;
                        &.animate{
                            animation: fourthStat 0.5s ease-in-out forwards;
                        }
                    }
                }
                .text{
                    font-family: "Inter";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.4px;
                    text-transform: uppercase;
                    padding-right: 20px;
                }
            }
            .description{
                color:rgba(0, 0, 0, 0.70);
                text-align: right;
                font-family: "Inter";
                font-size: 20px;
                font-style: normal;
                margin-bottom: 20px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.2px;
                @media(max-width:767px){
                    font-size: 18px;
                    text-align: left;
                }
                @media(max-width:567px){
                    font-size: 16px;
                    margin-bottom: 15px;
                }
            }
            .button{
                padding: 15px 30px;
                color: white;
                font-family: "Inter";
                width: max-content;
                font-size: 16px;
                font-style: normal;
                line-height: 1.375;
                letter-spacing: 0.32px;
                text-transform: uppercase;
                border-radius: 50px;
                background-image: linear-gradient(183deg, #4841D2 0%, #0E74F9 100%);
                transition: 100ms ease-in-out;
                background-size: 300%;
                background-position: left;
                &:hover{
                    background-position:right;
                    transition: 100ms ease-in-out;
                }
                @media(max-width:567px){
                    display: none;
                }
            }
        }
    }
    .video{
        position: absolute;
        top: 0;
        height: 100%;
        object-fit: cover;
        left: 0;
        width: 100%;
    }
}